
<div class="meal">

    <!-- remember that our meal object resolves inmediatly to nothing if
         no id is provided in the route parameters -->
    <div class="meal__title">
        <h1>
            <img src="assets/img/food.svg" alt="">
            
            <span *ngIf="meal$ | async as meal; else title">
               {{ meal.name ? 'edit' : 'create'}} meal
            </span>
            
            <ng-template #title>
                loading...
            </ng-template>
        </h1>
    </div>
    
    <div *ngIf="meal$ | async as meal; else fetching">                
        <app-meal-form
            [meal]="meal"
            (create)="add($event)"
            (update)="update($event)"
            (remove)="remove($event)">            
        </app-meal-form>            
    </div>

    <ng-template #fetching>
        <div class="message">
            <img src="assets/img/loading.svg">
            Fetching meals...
        </div>  
    </ng-template>

</div>
