<div>

    <!-- both of this components, the 'app-app header' and the 'app-app nav'
    have 'OnPush' change strategy. Note the quantity of input variables
    on each component, is enough for the 'dumb' components to have no inputs
    whatsoever -->

    <app-app-header 
        [user]="user$ | async" 
        (logout)="onLogout()">
    </app-app-header>

    <app-app-nav 
        *ngIf="(user$ | async)?.authenticated">
    </app-app-nav>

    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>

</div>