
<!-- temporal workout for an early processing
     of 'date$' -->
<div *ngIf="schedule$ | async">
    
    <div class="schedule">
        
        <app-schedule-calendar
            [date]="date$ | async"
            [items]="schedule$ | async"
            (change)="changeDate($event)"
            (select)="onItemSelect($event)">
        </app-schedule-calendar>

        <!-- pop up -->
        <app-schedule-assign
            *ngIf="open"
            [selectedItem]="selectedItem$ | async"
            [selectedList]="selectedList$ | async">            
        </app-schedule-assign>        

    </div>
</div>