
<!-- container components may held a good chunk of xml and css files, no
just dumb components -->

<div class="meal">    
    
    <div class="meal__title">        
        <h1>
            <img src="assets/img/food.svg" alt="">
            Your meals
        </h1>
        <a class="btn__add"
           [routerLink]="['new']" >
            New Meal
        </a>
    </div>

    <div *ngIf="meals$ | async as meals; else loading">
        <div class="message" *ngIf="!meals.length">
            <img src="assets/img/face.svg" alt="">
            No meals, add a new meal to start
        </div>
        <app-list-item 
            *ngFor="let meal of meals"
            [item]="meal"
            (remove)="remove($event)">            
        </app-list-item>
    </div>
     
    <ng-template #loading>
        <div class="message">
            <img src="assets/img/loading.svg" alt="">
            Fetching meals ... 
        </div>
    </ng-template>
    
</div>