
<div class="calendar">
   
    <app-schedule-controls
        [selected]="selectedDate"
        (move)="changeSelectedDate($event)">        
    </app-schedule-controls>
    
    <app-schedule-days
        [selectedDay]="selectedDay"
        (select)="changeSelectedWeekDay($event)">        
    </app-schedule-days>

    <app-schedule-section
        *ngFor="let section of sections"
        [name]="section.name"
        [section]="getScheduleItemFromCurrent(section.key)"
        (select)="onItemSelect($event, section.key)">        
    </app-schedule-section>
    
</div>
    